.contain {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  max-width: 1120px;
  margin: 0px auto;
  padding: 0px 32px;
}
.border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.content-box {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
body {
  background-color: #fff;
  color: #3e3e3e;
  font-family: "Work sans", "Effra", sans-serif;
  font-size: 22px;
  line-height: 1.45454545em;
  font-weight: 300;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #27ca6f;
}
a:hover {
  text-decoration: underline;
  color: #5de097;
}
header[role="article-header"] h1,
article[role="article-content"] h1,
header[role="article-header"] h2,
article[role="article-content"] h2,
header[role="article-header"] h3,
article[role="article-content"] h3,
header[role="article-header"] h4,
article[role="article-content"] h4,
header[role="article-header"] h5,
article[role="article-content"] h5,
header[role="article-header"] h6,
article[role="article-content"] h6,
header[role="article-header"] .lead,
article[role="article-content"] .lead,
header[role="article-header"] p,
article[role="article-content"] p,
header[role="article-header"] ul,
article[role="article-content"] ul {
  max-width: 736px;
}
@keyframes powpow {
  0% {
    left: 0px;
    margin-left: 0px;
  }
  100% {
    left: 100%;
    margin-left: -64px;
  }
}
h1 {
  position: relative;
  font-size: 50px;
  line-height: 1.125em;
  margin: 0px 0px 64px;
  font-weight: 300;
}
h1 span {
  display: block;
  color: #8e8e8e;
}
h1:after {
  content: '';
  position: absolute;
  left: 0px;
  bottom: -32px;
  width: 64px;
  height: 2px;
  background-color: #cecece;
}
.lead {
  color: #8e8e8e;
  font-size: 32px;
  line-height: 1.25em;
  font-weight: 300;
  margin: 0px 0px 64px;
}
h2 {
  font-size: 40px;
  line-height: 1.2em;
  font-weight: 300;
  margin: 48px 0px 16px;
}
h3 {
  font-size: 32px;
  line-height: 1.25em;
  font-weight: 300;
  margin: 48px 0px 16px;
}
h4 {
  font-size: 22px;
  line-height: 1.09em;
  font-weight: 600;
  margin: 48px 0px 16px;
}
p {
  margin: 0 0 32px;
}
article[role="article-content"] p.p-img {
  max-width: none;
  margin: 48px 0;
  color: #8e8e8e;
  font-size: 18px;
  line-height: 1.5em;
  vertical-align: top;
}
strong {
  font-weight: 600;
}
blockquote {
  margin: 32px 0;
  max-width: 832px;
  /* Warning */
  /* Info */
}
blockquote p:last-child {
  margin-bottom: 0;
}
blockquote > blockquote > blockquote > p {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background: #ffee95;
  color: #7c5300;
  padding: 32px;
  border-left: 16px solid #ffe662;
}
blockquote > blockquote > blockquote > p a {
  color: #7c5300;
  text-decoration: underline;
}
blockquote > blockquote > blockquote > p a:hover {
  color: #af7500;
}
blockquote > blockquote > blockquote > blockquote > p {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background: #b0e0ff;
  color: #006bb0;
  padding: 32px;
  border-left: 16px solid #63c2ff;
}
blockquote > blockquote > blockquote > blockquote > p a {
  color: #006bb0;
  text-decoration: underline;
}
blockquote > blockquote > blockquote > blockquote > p a:hover {
  color: #008ae3;
}
/* Code (highlight.js) */
code {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  background-color: #f8f8f8;
  border: 1px solid #eaeaea;
  padding: 0px 4px 4px;
  font-size: 18px;
}
pre {
  margin: 0 0 32px;
  /* Fix highlight styles */
}
pre code {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  font-family: "Fira Mono", monospace;
  font-size: 18px;
  line-height: 1.3333333333em;
  border: none;
}
pre .hljs {
  padding: 32px;
}
img {
  max-width: 100%;
  height: auto;
}
img.img-shadow {
  -webkit-box-shadow: 0px 1px 4px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 1px 4px rgba(0,0,0,0.25);
  box-shadow: 0px 1px 4px rgba(0,0,0,0.25);
}
p.img-border .img-container {
  display: inline-block;
  position: relative;
}
p.img-border .img-container:before {
  content: "";
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.1);
  box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.1);
  pointer-events: none;
}
p.img-border img {
  display: block;
}
/* Skip break on mobile */
@media screen and max-width(600px) {
  br.not-mobile {
    display: none;
  }
}
/* Button style */
.button {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  position: relative;
  border: 1px solid #6df4a9;
  max-width: 100%;
  white-space: nowrap;
  font-size: 20px;
  font-weight: normal;
  line-height: 62px;
  padding: 0px 64px 0 21.33333333px;
  overflow: hidden;
  vertical-align: top;
}
.button:after {
  content: '';
  position: absolute;
  right: 56px;
  top: 0px;
  bottom: 0px;
  width: 8px;
  background: linear-gradient(rgba(255, 255, 255, 0), #ffffff);
}
.button.button-full {
  width: 100%;
}
.button.button-medium {
  min-width: 65.2173913%;
  max-width: 65.2173913%;
}
.button.i-arrow-right {
  background: transparent url(../img/arrow-green-right.svg) no-repeat right center;
}
.button.i-download {
  background: transparent url(../img/dowload-icon-green.svg) no-repeat right center;
}
/* --- Bio --- */
.bio {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  max-width: 736px;
  margin: 0 auto;
  vertical-align: middle;
  display: table;
}
.bio:after {
  content: "";
  display: table;
  clear: both;
}
.bio img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  max-width: 144px;
  height: auto;
  display: table-cell;
  float: left;
  margin-right: 32px;
  vertical-align: middle;
  padding: 8px;
  border: 2px solid #eaeaea;
}
.bio .bio-text {
  display: table-cell;
  vertical-align: middle;
}
/* --- Set container width --- */
header[role="site-header"],
section[role="site-content"],
footer[role="site-footer"] .inner {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  max-width: 1120px;
  margin: 0px auto;
  padding: 0px 32px;
}
@keyframes logospin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* --------------------
  Page header
-------------------- */
header[role="site-header"] {
  padding-top: 64px;
  padding-bottom: 96px;
  text-align: center;
}
header[role="site-header"]:after {
  content: "";
  display: table;
  clear: both;
}
header[role="site-header"] .logo {
  float: left;
  height: 64px;
  width: auto;
  animation: logospin 6s linear infinite;
}
header[role="site-header"] .logo-legacy {
  display: none;
}
header[role="site-header"] .menu {
  float: right;
  text-align: right;
  padding-top: 20px;
  font-size: 20px;
  line-height: 1.2em;
  font-weight: normal;
}
header[role="site-header"] .menu .item {
  display: inline-block;
  margin: 0 0px 0px 20px;
}
header[role="site-header"] .menu .item a {
  color: #8e8e8e;
}
header[role="site-header"] .menu .item a:hover {
  text-decoration: none;
  color: #2e2e2e;
}
header[role="site-header"] .menu .item.active a {
  color: #2e2e2e;
  padding-bottom: 4px;
  border-bottom: 2px solid #2e2e2e;
}
/* --------------------
  Page content (article)
-------------------- */
article[role="article-content"] {
  margin: 64px 0 64px;
  /* --- Case top (if both background and role) --- */
}
article[role="article-content"] .case-top {
  margin: 0 -32px 32px;
}
article[role="article-content"] .case-top:after {
  content: "";
  display: table;
  clear: both;
}
article[role="article-content"] .case-top div {
  float: left;
  width: 50%;
  padding: 0 32px;
}
article[role="article-content"] .case-top h2 {
  margin-top: 0;
}
article[role="article-content"] .case-top p {
  margin: 0;
}
/* --------------------
  Projects list
-------------------- */
.page-portfolio footer[role="site-footer"] {
  margin-top: 0;
}
.portfolio-list {
  margin: 96px -16px 32px;
}
.portfolio-list:after {
  content: "";
  display: table;
  clear: both;
}
.portfolio-list .row {
  position: relative;
  disp: block;
  width: 50%;
  float: left;
  overflow: hidden;
  padding: 0 16px 48px;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.2em;
}
.portfolio-list .row:nth-child(odd) {
  clear: left;
}
.portfolio-list .row.size-large {
  width: 66.6666666%;
}
.portfolio-list .row a {
  display: block;
  color: #8e8e8e;
}
.portfolio-list .row a h4 {
  color: #2e2e2e;
}
.portfolio-list .row a:hover {
  text-decoration: none;
  color: #5de097;
}
.portfolio-list .row img {
  transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
  position: relative;
  z-index: 10;
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 16px;
}
.portfolio-list .row h4 {
  margin: 0 0 8px;
}
.portfolio-list .row:hover {
  color: #6df4a9;
}
/* --- Small --- */
.portfolio-list-more {
  position: relative;
  padding-top: 112px;
  padding-bottom: 64px;
  margin: 64px -21.33333333px 0px;
  text-align: center;
}
.portfolio-list-more:after {
  content: "";
  display: table;
  clear: both;
}
.portfolio-list-more:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 50%;
  width: 100vw;
  height: 100%;
  margin-left: -50vw;
  background-color: #e1fcf0;
}
.portfolio-list-more h2 {
  text-align: center;
  max-width: none;
  margin: 0 auto 32px;
  color: #228c51;
}
.portfolio-list-more .items {
  font-size: 0;
  line-height: 0;
}
.portfolio-list-more .row {
  display: inline-block;
  width: 25%;
  padding: 0 24px 48px;
}
.portfolio-list-more .row a,
.portfolio-list-more .row .inner {
  display: block;
  padding: 32px;
  background-color: #fff;
}
/* ------------------------
  Blog list
------------------------ */
.thoughts-list {
  margin: 96px 0 -32px;
}
.thoughts-list .row {
  display: block;
  padding: 32px 0px;
  border-bottom: 1px solid #ddd;
  background: transparent url(../img/arrow-gray-right-big.svg) no-repeat right center;
}
.thoughts-list .row:hover {
  text-decoration: none;
}
.thoughts-list .row .date {
  font-size: 22px;
  line-height: 1.3em;
  color: #8e8e8e;
  margin: 0px;
}
.thoughts-list .row h2 {
  margin: 0;
}
.thoughts-list .row .desc {
  margin: 8px 0 0;
  color: #2e2e2e;
}
.thoughts-list .row:first-child {
  padding-top: 0px;
}
.thoughts-list .row:last-child {
  border-bottom: none;
}
.pager {
  margin-top: 64px;
}
.pager ul {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 0;
  line-height: 0;
}
.pager ul li {
  list-style: none;
  list-style-image: none;
  display: inline-block;
  margin: 0 8px;
}
.pager ul li span,
.pager ul li a {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  font-size: 18px;
  line-height: 48px;
  text-align: center;
  width: 48px;
  border: 1px solid #eaeaea;
}
.pager ul li span.current,
.pager ul li a.current {
  border-color: #cecece;
}
.pager ul li a {
  color: #8e8e8e;
  color: #5de097;
}
.pager ul li a:hover {
  border-color: #6df4a9;
  text-decoration: none;
}
/* --- Next/Prev item --- */
.article-nav {
  margin: 64px 0 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  font-size: 18px;
  line-height: 1.7777777778em;
}
.article-nav:after {
  content: "";
  display: table;
  clear: both;
}
.article-nav div {
  float: left;
  width: 33.3333333%;
  padding: 31px 0;
  white-space: nowrap;
  overflow: hidden;
  -webkit-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.article-nav .overview {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  text-align: center;
  padding-left: 16px;
  padding-right: 16px;
}
.article-nav .prev-post {
  padding-right: 16px;
}
.article-nav .next-post {
  text-align: right;
  padding-left: 16px;
}
/* --------------
  Footer
-------------- */
footer[role="site-footer"] {
  margin-top: 96px;
  padding-top: 64px;
  padding-bottom: 64px;
  background-color: #f5f5f5;
  background: linear-gradient(45deg, #eaeaea, #f5f5f5);
}
footer[role="site-footer"] .inner {
  position: relative;
}
footer[role="site-footer"] a {
  color: #2e2e2e;
  text-decoration: underline;
}
footer[role="site-footer"] .social {
  margin-top: 16px;
}
footer[role="site-footer"] .footer-logo {
  position: absolute;
  right: 32px;
  top: -16px;
  width: 64px;
  height: 64px;
  background: transparent url(../img/logo.svg) no-repeat center center;
}
/* --------------
  Naked page
-------------- */
.page-naked h1,
.page-naked h2,
.page-naked h3,
.page-naked h4,
.page-naked .lead,
.page-naked p,
.page-naked blockquote {
  margin-left: auto;
  margin-right: auto;
}
.page-naked h1 {
  text-align: center;
}
.page-naked h1:after {
  left: 50%;
  margin-left: -32px;
}
.page-naked .lead {
  text-align: center;
}
.page-naked p.p-img {
  text-align: center;
}
.page-naked header[role="site-header"] {
  padding-bottom: 64px;
  line-height: 0;
}
.page-naked header[role="site-header"] .logo {
  float: none;
  margin: 0 auto;
}
.page-naked footer[role="site-footer"] {
  text-align: center;
}
.page-naked footer[role="site-footer"] .footer-logo {
  position: static;
  display: block;
  margin: 0 auto;
  left: auto;
  right: auto;
  margin-bottom: 32px;
}
/* -----------------------
  Post specific styles
----------------------- */
/* -----------------------
  Layline animations
----------------------- */
@-webkit-keyframes zoomin {
  0% {
    -webkit-transform: scale(0);
  }
  25% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes zoomin {
  0% {
    -moz-transform: scale(0);
  }
  100% {
    -moz-transform: scale(1);
  }
}
@keyframes zoomin {
  0% {
    transform: scale(0);
  }
  25% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
article[role="article-content"] .layline-case-anim {
  position: relative;
  background-color: #eee;
  padding: 32px 32px;
  margin: 32px 0px;
  max-width: none;
}
article[role="article-content"] .layline-case-anim:after {
  content: "";
  display: table;
  clear: both;
}
article[role="article-content"] .layline-case-anim:before {
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  content: 'Klicka för att spela/pausa';
  position: absolute;
  left: 0;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  tranform: translateY(-50%);
  font-size: 48px;
  line-height: 1.2em;
  text-align: center;
  cursor: pointer;
}
article[role="article-content"] .layline-case-anim li {
  display: block;
  position: relative;
  list-style: none;
  list-style-image: none;
  float: left;
  width: 25%;
  opacity: 0.5;
  -webkit-transform: scale(0);
  -webkit-animation: zoomin 1.2s cubic-bezier(0.77, 0, 0.175, 1) infinite alternate;
  -webkit-animation-fill-mode: forwards;
  -moz-transform: scale(1) !important;
  -moz-animation: none!important;
  -moz-animation-fill-mode: forwards;
  transform: scale(0);
  animation: zoomin 1.2s cubic-bezier(0.77, 0, 0.175, 1) infinite alternate;
  animation-fill-mode: forwards;
  -webkit-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}
article[role="article-content"] .layline-case-anim li:nth-child(1) {
  -webkit-animation-delay: 0s;
}
article[role="article-content"] .layline-case-anim li:nth-child(2) {
  -webkit-animation-delay: 0.1s;
}
article[role="article-content"] .layline-case-anim li:nth-child(3) {
  -webkit-animation-delay: 0.2s;
}
article[role="article-content"] .layline-case-anim li:nth-child(4) {
  -webkit-animation-delay: 0.3s;
}
article[role="article-content"] .layline-case-anim li:nth-child(5) {
  -webkit-animation-delay: 0.1s;
}
article[role="article-content"] .layline-case-anim li:nth-child(6) {
  -webkit-animation-delay: 0.2s;
}
article[role="article-content"] .layline-case-anim li:nth-child(7) {
  -webkit-animation-delay: 0.3s;
}
article[role="article-content"] .layline-case-anim li:nth-child(8) {
  -webkit-animation-delay: 0.4s;
}
article[role="article-content"] .layline-case-anim.playing:before {
  opacity: 0;
}
article[role="article-content"] .layline-case-anim.playing li {
  -webkit-animation-play-state: running;
  -o-animation-play-state: running;
  animation-play-state: running;
  opacity: 1;
}
/* Full width example */
.full-width {
  position: relative;
}
.full-width:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  top: 0px;
  width: 100vw;
  margin-left: -50vw;
  background-color: #ff00ff;
}
/* 50% ul lists */
.list-50 {
  width: 736px;
  margin-bottom: 32px;
}
.list-50:after {
  content: "";
  display: table;
  clear: both;
}
.list-50 ul {
  float: left;
  width: 50%;
  margin: 0;
}
/* Page-grid */
body.grid-on {
  background-image: url(../img/grid@2x.png);
  background-size: 128px 128px;
  background-repeat: repeat;
  background-position: top center;
}
