<footer role="site-footer">
  <div class="inner">
    <strong>Olof Brickarp</strong> - <em>Designer / Front-end-utvecklare</em> på <a href="http://www.understandit.se" target="_blank">Understandit</a>

    <div class="footer-logo"></div>
  </div>
</footer>
