<footer role="site-footer">
  <div class="inner">
    <a href="/" class="footer-logo"></a>
    
    <strong>Olof Brickarp</strong> - <em>Designer / Front-end developer</em> at <a href="http://www.understandit.se" target="_blank">Understandit</a>

    <div class="social">
      <a href="http://www.dribbble.com/coolof" target="_blank">Dribbble</a> -
      <a href="http://www.facebook.com/coolof" target="_blank">Facebook</a> -
      <a href="http://www.instagram.com/coolof" target="_blank">Instagram</a>
    </div>
  </div>
</footer>
