<header role="site-header">
  <a href="{{ base_url }}">
    <img class="logo" src="{{ theme_url }}/img/logo.svg" />
    <img class="logo-legacy" src="{{ theme_url }}/img/logo.png" />
  </a>
</header>
