{% set logo = page.header.logo %}
{% set page_title = page.title %}

<div class="row">
  {% if page.header.link %}<a href="{{ page.header.link }}" target="_blank">{% else %}<div class="inner">{% endif %}
    {{ page.media[logo].html(page_title, 'preview_image') }}
  {% if page.header.link %}</a>{% else %}</div>{% endif %}
</div>
