{% extends 'partials/base.html.twig' %}

{% block content %}
  <header role="article-header">
    <h1 class="title">{{ page.title }}{% if page.header.titleExtra %}<span> {{ page.header.titleExtra }}{% endif %}</span></h1>
    {% if page.header.lead %}<div class="lead">{{ page.header.lead }}</div>{% endif %}
  </header>

  {% if page.content %}
    <article role="article-content">
      {{ page.content }}
    </article>
  {% endif %}

  <div class="thoughts-list">
    {% for child in page.collection %}
      {% include 'partials/blog-item.html.twig' with {'page':child} %}
    {% endfor %}
  </div>
{% endblock %}
