{% extends 'partials/base.html.twig' %}

{% block content %}
  {% include 'partials/postcontent.html.twig' %}

  <div class="portfolio-list">
    {% for child in page.collection %}
      {% include 'partials/portfolio-item.html.twig' with {'page':child} %}
    {% endfor %}
  </div>
{% endblock %}
